body {
    background: url(../images/basketball_court_wallpaper_019.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}


.title {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Russo One', sans-serif;
}

.question {
    text-align: center;
    color: #FDBB30;
}
.timer {
    text-align: center;
    padding-bottom: 10px;
    background-color: white;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    color: #860038;
    font-weight: bold;
    border-radius: 25px;
}


fieldset {
    text-align: center;
    padding-bottom: 50px;
}

.startB {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    background-color: #002B60; color: #FDBB30;
    
}

.question1 {
    text-align: center;
    
}

label {
    color: silver;
}
 .finished {
     text-align: center;
 }

 .questions {
     width: 75%;
     margin-left: auto;
     margin-right: auto;
     border-radius: 25px;

     background: url(../images/879303-lebron-james-wallpaper-hd-1920x1080-for-4k.jpg) no-repeat center center fixed; 
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   */
 }

 #submit {
    margin-left: 45%;
    background-color: #002B60; color: #FDBB30;
    padding: 10px;
    margin-top: 10px;

 }

 .submitColor {
    color: #FDBB30;
 }


